#top-page{
    font-size: xx-large;
    padding-top: 200px;

    color: white;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    margin-left: 20px;
    height: 200px;
    padding-left: 30px;
    /* row-gap: 10px; */
    /* column-gap: 20px; */
    margin-bottom: 120px;
    /* padding: 50px 35px; */
}

/* #top-page:hover{
    height: 200px;
    visibility: visible;
    opacity: 1;
    margin-top: -10px;
    transition-delay: 0.3s;
} */



.card1{
    color: white;
    font-size: xx-large;
    padding-top: 200px;
    padding-left: 30px;
    margin-bottom: 120px;
    display: flex;
    /* row-gap: 30px; */
    border: 1px solid rgb(24 , 21 ,21);
    background-color: rgb(15, 15, 145);
    height: 200px;
    width: 200px;

    /* margin-right: 15px; */
    text-align: center;
    /* border-radius: 10px; */
}

.card2{
    margin-bottom: 120px;
    font-size: xx-large;
    padding-top: 200px;
    padding-left: 30px;
    color: white;
    display: flex;
    /* row-gap: 30px; */
    border: 1px solid rgb(24 , 21 ,21);
    background-color: rgb(206, 218, 79);
    height: 200px;
    width: 200px;

    /* margin-right: 15px; */
    text-align: center;
    /* border-radius: 10px; */
}

.card1b{
    color: white;
    font-size: xx-large;
    padding-top: 200px;
    padding-left: 50px;
    margin-bottom: 120px;
    display: flex;
    /* row-gap: 30px; */
    border: 1px solid rgb(24 , 21 ,21);
    background-color: rgb(15, 15, 145);
    height: 200px;
    width: 200px;

    /* margin-right: 15px; */
    text-align: center;
    /* border-radius: 10px; */
}